# MySQL data directory
docker/mysql/data/

# OS files
.DS_Store

# Node modules (もしルートにできる場合)
node_modules/

# Composer vendor（もしルートに vendor ができた場合）
vendor/

# Laravel sensitive files
.env
storage/
bootstrap/cache/
